html {
    background: #fff;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: verdana;
    background: white;
}

header{
    box-sizing: border-box;
    background-size: cover;
    background-color: #fff;
    top: 0;
}

.topbanner{
    max-width: 100%;
    box-sizing: border-box;
    background-size: cover;
}

/*Secciones*/
.imagenSeccion1{
    box-sizing: border-box;
    background-size: cover;
    max-width: 100%;
}
.seccion1{
    box-sizing: border-box;
    background-size: cover;
}

.imagenSeccion2{
    box-sizing: border-box;
    background-size: cover;
    max-width: 100%;
}
.seccion2{
    box-sizing: border-box;
    background-size: cover;
}

.seccion3{
		box-sizing: border-box;
        background-size: cover;
		background-color: darkorange;
		padding: 30px;
        border-top: 1px;
        border-top-style: inset;
        border-top-color: white;
	}
    
footer{
    text-align: center;    
    background-color: darkorange;
    color: #000;
    text-align: center;
    border-top: 1px;
    border-top-style: inset;
    border-top-color: white;
    font-size: 15px;
    padding: 10px;
}

/*Navegacion*/
nav{
    width: 100%;
    max-width: 100%;
    height: 50px;
    background: gold;
    opacity: .8;
    border-top: 1px solid rgba(255,255,255,.2);
    border-bottom: 1px solid rgba(255,255,255,.2);
    display: block;
    position: sticky;
    top: 0px;
    z-index: 1;
    transition: all 550ms ease;
}

nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    float: right;
}

nav ul li{
    list-style: none;
    background: gold;
}

nav ul li a{
    display: block;
    color: #fff;
    padding: 0 20px;
    text-decoration: none;
    text-transform: lowercase;
    font-weight: bold;
    line-height: 50px;
}

nav ul li a:hover,
nav ul li a.active{
    background: yellow; 
    color: darkgoldenrod;
    transition: all 550ms ease;
    border-radius: 20px;
    border-collapse: collapse;
}

/*BotonUp*/
.gotopbtn{
    position: fixed;
    width: 40px;
    height: 40px;
    background: white;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
    opacity: .7;
    border-radius: 20px;
}

.gotopbtn img{
    box-sizing: border-box;
    width: 40px;
    height: 40px;
}

.gotopbtn:hover{
    background-color: rgb(246, 217, 87);
    transition: all 550ms ease;;
}

/*Boton*/
.primary{
    position: fixed;    
    bottom: 40px;
    right: 150px;
    z-index: 1;
}

.button{
    border: 1px;
    border-style: solid;
    border-color: dimgray;
    border-radius: 8px;
    width: 150px;
    height: 30px;
    background-color: white;
    opacity: .7;
    display: inline-block;
    outline: 0;
    padding-top: 0.40rem;
    padding-bottom: 0.40rem;
    text-align: center;
    text-decoration: none;  
}

.button span{
    box-sizing: border-box;
    background-size: cover;
    color: black;
    font-weight: normal;
    font-size: 20px;
}

.button:hover{
    background-color: rgb(246, 217, 87);
    transition: all 550ms ease;
}

.tabla{
        text-decoration: none;
        font-size: 20px;
        color: #fff;
        margin: auto;
    }
    
    
    .tabla ul{
        list-style: none;
        margin-left: 70px;
    }

    .tabla ul li p{
        margin-top: 0;
        color: #000;
        font-size: 15px;
    }
    
    .tabla ul li a{
        text-decoration: none;
        color: #000;
        font-size: 15px;
    }
    
    .tabla ul li a:hover{
        color: white;
    }

@media(max-width:768px){
		
		body{
			width: 100%;
		}
		
		nav{
			position: sticky;
			width: 70%;
			margin-left: -100px;
			top: 0;
		}
		
		nav ul{
			flex-direction: column;
		}
    
        .tabla{
           width:100%;
        }
        .tabla ul{
            margin-left: 0px;
        }
        .tabla thead {
           display: none;
        }
        .tabla tr:nth-of-type(2n) {
           background-color: inherit;
        }
        .tabla tr td:first-child {
           background: darkorange;
           font-size:1.3em;
        }
        .tabla tbody td {
           display: block;
           text-align:center;
        }
        .tabla tbody td:before {
           content: attr(data-th);
           display: block;
           text-align:center;
        }
        
	}		